<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_de_Datos.Properties.Settings.SISTEMA_DE_VENTASConnectionString"
            connectionString="Data Source=(local);Initial Catalog=&quot;SISTEMA DE VENTAS&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>